
#picross {
	table-layout: fixed;
	border: none;
	border-collapse: collapse;
	text-align: center;
	overflow: hidden;

	/* avoid selection */
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none;
}

#picross tr {
	height: 1.5rem;
}

.horizontal {
	height: 1.5rem;
	width: 1.3rem;
}
.vertical {
	width: 1.5rem;
}

.cell {
	height: 1.5rem;
	width: 1.5rem;
	border: 1px solid darkgray;
	cursor: pointer;
}

.cell-left {
	border-left: 2px solid black;
}
.cell-right {
	border-right: 2px solid black;
}
.cell-top {
	border-top: 2px solid black;
}
.cell-bottom {
	border-bottom: 2px solid black;
}

.cell-row:hover {
	background-color: #ddddff
}

.cell.correct {
	background-color: green;
}
.cell.incorrect {
	background-color: red;
}
.cell.marked {
	background-color: gray;
}

td {
	position: relative;
}

.cell:hover::after, .vertical:hover::after {
  content: "";
  position: absolute;
  background-color: #ddddff;
  left: 0;
  top: -5000px;
  height: 10000px;
  width: 100%;
  z-index: -1;
}
